body {
	background-color: RGB(45, 59, 65);
	color: RGB(207, 207, 207);
	font-family: "Helvetica, Trebuchet MS", Arial, sans-serif;
	margin: 0;
}

/* ----- Top Bar ----- */

#bar {
	width: 100%;
	background-color: RGB(32, 34, 36);
	padding: 10px 9px;
	font: normal 12.5px "Helvetica, Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
}

#bar .links:nth-child(2) {
	position: absolute;
	right: 9px;
	top: 10px;
	word-spacing: 10px;
}

#bar #version {
	font-weight: 500;
}

/* ----- Banner ----- */
#banner {
	width: 500px;
	height: 120px;
	background-image: url('../assets/images/optionsbanner.png');
	margin-bottom: 20px;
}

/* ----- Main Section ----- */

#main .box {
	width: 98%;
	margin: 0 auto;
	border: solid RGB(106, 114, 132) 1px;
}

.box .title {
	background-color: RGB(106, 114, 132);
	margin: 3px;
	font-size: 16px;
	font-weight: bold;
	padding: 3px;
}

.box .content {
	padding: 3px 6px;
}